{% load static %}
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
         
    <title>Customer Register Login</title>
</head>
<body>
    <div class="container" style="margin-left: 100px;">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="login" method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" placeholder="username" name="username" required>
                        <i class="uil uil-user icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Enter your password" name="username" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <a href="index.html"><input type="submit" value="Login Now" onclick="mesg2()"></a>
                    </div>
                </form>
                <div style="display: none;" id="messg2">
                    {% for msg in message %}
                    <h4>{{msg2}}</h4>
                    {% endfor %}
                </div>
                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="#" class="text signup-link">Signup now</a>
                    </span>
                </div>
            </div>
            
            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">Registration</span>

                <form method="POST" action="register">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" placeholder="Enter your username" name="username" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your name" name="first_name" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your  last name"  name="last_name" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" name="email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Create a password" name="password1" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirm a password" name="password2" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="sigCheck">
                            <label for="sigCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button" onclick="mesg()">
                        <input type="submit" value="Register">
                    </div>
                </form>
                <div style="display: none;" id="messg">
                    {% for msg in message %}
                    <h4>{{msg}}</h4>
                    {% endfor %}
                </div>
                <div class="login-signup">
                    <span class="text">Already have an account?
                        <a href="#" class="text login-link">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form login">
        <img src="{% static 'img/reg_log.png' %}" style="height: 400px; width:500px; margin-left:100px;">
    </div>
    <script src="{% static 'js/script1.js' %}"></script>
    <script>
        function mesg(){
            document.getElementById('messg').style.display='block';
        }
        function mesg2(){
            document.getElementById('messg2').style.display='block';
        }
    </script>
</body>
</html>